$ml__white--100: #ffffff;

$ml__black--100: #000000;

$ml__gray--100: #eeeeee;
$ml__gray--200: #dddddd;
$ml__gray--300: #cccccc;
$ml__gray--400: #bbbbbb;
$ml__gray--500: #aaaaaa;

$ml__yellow--500: #fee600;

$ml__green--500: #01db64;

$ml__blue--500: #3483fa;
$ml__blue--600: #2968c8;
